.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-img {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  height: 60vh;
  position: relative;
}

.hero-img::before {
  content: "";
  background: url(../assets/situp.jpg);
  background-size: cover;
  background-position: center/top;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

.hero-img h1 {
  font-size: 2.4rem;
}


.hero-img p {
  font-size: 1.4rem;
  text-align: center;
}

@media  screen and (max-width: 640px) {
  .hero-img h1 {
    font-size: 2rem;
  }
  
  
  .hero-img p {
    font-size: 1rem;
    
  } 
}